.inner-addon {
  width: 225px;
  position: relative;
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.right-addon input { padding-right: 30px; }

#search {
  font-size: 16px;
  margin-bottom: 15px;
  height: 35px;
  width: 225px;
  border: 1px solid black;
  border-radius: 5px;
}

/*background: gainsboro;*/

.background {
  padding-left: 0px;
  padding-right: 0px;
}

.nav-tabs {
  border-bottom: 0px!important;
}

.nav-tabs > li {
  width: 33.33%;
  text-align: center;
  font-size: 18px;
  margin-bottom: 0px!important;
  margin-top: -1px;
}

.nav-tabs > li > a {
  background: white;
  font-weight: 700;
  height: 100%;
  width: 100%;
  display: block;

  border-top: 1px solid black!important;
  border-bottom: 1px solid black!important;
  border-radius: 0px!important;
  padding-top: 15px!important;
}

.all {
  border-left: 1px solid black!important;
  border-right: 1px solid black!important;

  -moz-box-shadow: inset 0px 0 0 rgba(255,255,255,0.5),
  inset 0 5px 0 rgba(0,0,0,0.05),inset 0 8px 0 #3989e5;

  -webkit-box-shadow: inset 0px 0 0 rgba(255,255,255,0.5),
  inset 0 5px 0 rgba(0,0,0,0.05), inset 0 8px 0 #3989e5;

  box-shadow: inset 0px 0 0 rgba(255,255,255,0.5),
  inset 0 5px 0 rgba(0,0,0,0.05),inset 0 8px 0 #3989e5;
}

.movies {
  border-left: 1px solid black!important;
  border-right: 1px solid black!important;

  -moz-box-shadow: inset 0px 0 0 rgba(255,255,255,0.5),
  inset 0 5px 0 rgba(0,0,0,0.05),inset 0 8px 0 #009933;

  -webkit-box-shadow: inset 0px 0 0 rgba(255,255,255,0.5),
  inset 0 5px 0 rgba(0,0,0,0.05), inset 0 8px 0 #009933;

  box-shadow: inset 0px 0 0 rgba(255,255,255,0.5),
  inset 0 5px 0 rgba(0,0,0,0.05),inset 0 8px 0 #009933;
}

.shows {
  -moz-box-shadow: inset 0px 0 0 rgba(255,255,255,0.5),
  inset 0 5px 0 rgba(0,0,0,0.05),inset 0 8px 0 #009999;

  -webkit-box-shadow: inset 0px 0 0 rgba(255,255,255,0.5),
  inset 0 5px 0 rgba(0,0,0,0.05), inset 0 8px 0 #009999;

  box-shadow: inset 0px 0 0 rgba(255,255,255,0.5),
  inset 0 5px 0 rgba(0,0,0,0.05),inset 0 8px 0 #009999;

  border-left: 1px solid black!important;
  border-right: 1px solid black!important;
}

li.active {
  font-weight: bold!important;
  border-bottom: 0px!important;
}

li.active a {
  border-bottom: 1px solid white!important;
}

.col {
  padding: 0px!important;
}

.entertainment {
  box-shadow:
  1px 0 0 0 black,
  0 1px 0 0 black,
  1px 1px 0 0 black,   /* Just to fix the corner */
  1px 0 0 0 black inset,
  0 1px 0 0 black inset;
}

.entertainmentContainer {
  margin-left: 0px!important;
  margin-right: 0px!important;
  position: initial!important;
  background: white;
  width: 100%;
}

.title {
  text-overflow: ellipsis;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  width: 95%;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
}

.fa {
  color: mediumblue;
  margin-right: 5px;
  font-size: 18px;
}
